.DS_Store
node_modules
/dist
__pycache__
.env
api/feed.py
api/nosql.py
api/all_recommendations.xlsx
job.py
vue.config.js

# etc
todo.txt
todo.md
todo_backend.md
todo_frontend.md

# poetry
pyproject.toml

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
